{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "plugin:sonarjs/recommended",
    "plugin:react/recommended",
    "airbnb",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "plugin:import/typescript",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": [
    "sonarjs",
    "react",
    "react-hooks",
    "@typescript-eslint",
    "prettier",
    "import",
    "import-helpers"
  ],
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "arrowParens": "always",
        "trailingComma": "all",
        "singleQuote": true,
        "tabWidth": 2,
        "printWidth": 90,
        "semi": false
      }
    ],
    "arrow-body-style": [
      "error",
      "as-needed"
    ],
    "react-hooks/exhaustive-deps": "error",
    "implicit-arrow-linebreak": "off",
    "camelcase": "off",
    "class-methods-use-this": "off",
    "no-useless-constructor": "off",
    "radar/no-duplicate-string": "off",
    "react/jsx-uses-react": "off",
    "no-unused-expressions": "off",
    "no-use-before-define": "off",
    "no-unneeded-ternary": "error",
    "no-unused-vars": "off",
    "no-underscore-dangle": "off",
    "no-plusplus": [
      "error",
      {
        "allowForLoopAfterthoughts": true
      }
    ],
    "no-param-reassign": [
      "error",
      {
        "props": true,
        "ignorePropertyModificationsForRegex": [
          "^acc",
          "^draft"
        ]
      }
    ],
    "no-shadow": "off",
    "no-console": "off",
    "prefer-template": "error",
    "@typescript-eslint/no-namespace": "off",
    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/no-useless-constructor": "error",
    "@typescript-eslint/indent": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/ban-types": "off",
    "@typescript-eslint/no-unused-vars": [
      "off",
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_$|[iI]gnored"
      }
    ],
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-empty-interface": [
      "error",
      {
        "allowSingleExtends": true
      }
    ],
    "@typescript-eslint/no-shadow": [
      "error"
    ],
    "jsx-a11y/anchor-is-valid": "off",
    "jsx-a11y/label-has-associated-control": [
      "error",
      {
        "assert": "either"
      }
    ],
    "react/react-in-jsx-scope": "off",
    "react/no-array-index-key": "error",
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-filename-extension": [
      "warn",
      {
        "extensions": [
          ".tsx"
        ]
      }
    ],
    "react/prop-types": "off",
    "react/require-default-props": "off",
    "react-hooks/rules-of-hooks": "error",
    "import/prefer-default-export": "off",
    "import/no-duplicates": "off",
    "import/no-named-as-default": "off",
    "import/no-useless-path-segments": [
      "error",
      {
        "noUselessIndex": true
      }
    ],
    "import/no-extraneous-dependencies": [
      "off"
    ],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "ts": "never",
        "tsx": "never"
      }
    ],
    "import-helpers/order-imports": [
      "warn",
      {
        "newlinesBetween": "always",
        "groups": [
          [
            "/^react$/",
            "/^react-(native|dom)$/",
            "/^next/"
          ],
          "module",
          [
            "/^@(assets|common|components|constants|contexts|hooks|mocks|pages|routes|services|styles|utils|shared|store)/",
            "/^~/"
          ],
          [
            "parent",
            "sibling"
          ],
          "index"
        ],
        "alphabetize": {
          "order": "ignore",
          "ignoreCase": true
        }
      }
    ],
    "import/no-anonymous-default-export": [
      "error",
      {
        "allowArray": true,
        "allowArrowFunction": false,
        "allowAnonymousClass": false,
        "allowAnonymousFunction": false,
        "allowCallExpression": true,
        "allowLiteral": true,
        "allowObject": true
      }
    ],
    "react/function-component-definition": "off",
    "react/no-unstable-nested-components": "off",
    "react-native/no-inline-styles": "off"
  }
}
